## Disable funding messages and automatic audits
fund=false
audit=false
## Prefer the offline modules when possible to speed up installs
## Particularly useful in CI environments with caching enabled
prefer-offline=true
## Help network or registry issues by massaging the network config
## It is balanced to slowly back off up to the 120ms max on the
## final attempt.
## It should go like this: 3.75s, 7.5s, 15s, 30s, 60s, 120s.
## We politely back-off and delay instead of rushing retries
## so the registry isn't hammered to cause an outage.
fetch-retries=6
fetch-retry-factor=2
fetch-retry-mintimeout=3750
fetch-retry-maxtimeout=120000
## Setup logging to be more efficient for containers
## Keep the default log level, but discard logs going to a fail.
loglevel=notice
logs-dir=/dev/null
## We want to get away from auto-running scripts entirely.
## Until then, at least don't hide them so we are aware of them.
foreground-scripts=true
# Tried the new `linked` strategy, but it breaks esbuild being able to bundle.
install-strategy=hoisted
# Only esbuild currently uses a postinstall script.
# It does not seem too critical: https://github.com/evanw/esbuild/issues/4288#issuecomment-3294624072
# So turn them off to improve security.
ignore-scripts=true
